.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  header {
    height: 70px;
    flex-shrink: 0;
  }
  .main-content {
    flex-grow: 1;
    //flex: 1;
    display: flex;
    //min-height: calc(100% - 170px);
  }
  footer {
    height: 100px;
    flex-shrink: 0;
  }
}
