<ul>
  <li *ngFor="let item of list" [routerLink]="userMode ? ('/user/' + item.username) : ('/repo/' + item.url)">
    <img *ngIf="userMode" [src]="item.avatar">
    <p>{{userMode ? item.username : item.name}}</p>
    <svg>
      <use [attr.xlink:href]="iconPath + 'arrow.svg#Capa_1'"></use>
    </svg>
  </li>
  <div *ngIf="loading" class="loading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="empty" *ngIf="!loading && list.length === 0">
    <h1>List is Empty</h1>
  </div>
</ul>
